<!DOCTYPE html>
<html>
  <head>
    <title>SheduleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar"> 
        <div class="headerContainer">
          <p class="appTitle">スケジュール管理アプリ</p>
        </div>
      </nav>
    </header> 
    <div class="mainContainer">
    <%= yield %>
    </div>
  </body>
</html>
